node_modules
dist
.output
.vercel
.android-sdk
.jdk
*.apk
*.aab
artifacts
apk-www
screenshots
attachments
android/app/build
android/build
android/app/src/main/assets
android/local.properties
android/.gradle
.DS_Store
*.log
